.git
.nimcache
.nimcache*
deps
nimcache
nim.cfg
bench_*
*.dSYM
**/*.dSYM
**/*.dSYM/**
examples/*
!examples/*.nim
!examples/*.nims
!examples/*.svg
!examples/7gui/
!examples/7gui/*.nim
!examples/7gui/*.nims
!examples/uirelays/
!examples/uirelays/*.nim
src/merenda/kosmo/kosmo
src/merenda/nimkit/comboboxes
src/merenda/nimkit/containers/tabletypes
src/merenda/nimkit/rendering
src/merenda/nimkit/resources/resourceregistry
src/merenda/tekton.out
src/merenda/tekton/tekton
tests/integration_application
tests/nimkit/documenttabs
tests/nimkit/font_layout
tests/nimkit/settings
tests/nimkit/texteditors
tests/nimkit/theme
tests/tkosmo
tests/tnimkit
tests/ttekton
